<div class="container">
    <div class="text-justify col-md-12">
        <div id="1st-section" class="row">
            <div [innerHTML]="page.content[0] | sanitizeHtml"></div>
        </div>
        <div id="2nd-section" class="row">
            <div>
                <div class="col-md-6 padding-left-0">
                    <div [innerHTML]="page.content[1] | sanitizeHtml"></div>

                </div>
                <div class="col-md-6 padding-right-0">
                    <div [innerHTML]="page.content[2] | sanitizeHtml"></div>

                </div>
            </div>
        </div>
        <div id="3rd-section" class="row">
            <div [innerHTML]="page.content[3] | sanitizeHtml"></div>
        </div>
        <div id="4th-section" class="row">
            <div [innerHTML]="page.content[4] | sanitizeHtml"></div>
        </div>
    </div>

    <div class="row margin-bottom-15 margin-top-30 col-md-12">
        <a routerLink="post-create" *ngIf="currentUser.accountConfirmed">
            <button class="btn btn-primary">
                Add new Post
            </button>
        </a>
    </div>
    <div class="row col-md-12">
        <h2>Featured Posts</h2>
        <div *ngFor="let post of featuredPosts; let i = index">
            <div class="clearfix" *ngIf="i % 2 == 0"></div>
            <div class="col-md-6 well back-color" *ngIf="post.isVisible">
                <h2>
                    <a [routerLink]="['/post', post._id ]">
                        {{post.title}}
                        <span>
                            <fa name='star'></fa>
                        </span>
                    </a>
                </h2>
                <h3>
                    <span [tooltip]='post.body'>
                        {{post.body | sliceString}}
                    </span>
                </h3>
                <h4>{{post.createdAt | date: 'medium'}}
                    <span *ngIf="post.author"> by {{post.author.firstName}} {{post.author.lastName}}</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <h2>All Posts</h2>
        <div *ngFor="let post of unfeaturedPosts; let i = index">
            <div class="clearfix" *ngIf="i % 2 == 0"></div>
            <div class="col-md-6 well back-color" *ngIf="post.isVisible">
                <h2>
                    <a [routerLink]="['/post', post._id ]">
                        {{post.title}}
                    </a>
                </h2>
                <h3>
                    <span [tooltip]='post.body'>
                        {{post.body | sliceString}}
                    </span>
                </h3>
                <h4>{{post.createdAt | date: 'medium'}}
                    <span *ngIf="post.author"> by {{post.author.firstName}} {{post.author.lastName}}</span>
                </h4>
            </div>
        </div>
    </div>
</div>