<div class="container">
    <div class="row margin-bottom-15">
        <a routerLink="post-create" *ngIf="currentUser.accountConfirmed">
            <button class="btn btn-primary">
                Add new Post
            </button>
        </a>
    </div>
    <div class="row">
        <div *ngFor="let post of posts; let i = index">
            <div class="clearfix" *ngIf="index % 3 == 0"></div>
            <div class="col-md-4 well back-color">
                <h2>
                    <a [routerLink]="['/post', post._id ]">
                        {{post.title}}
                    </a>
                </h2>
                <h3>{{post.body}}</h3>
                <h4>{{post.createdAt | date: 'medium'}}
                    <span *ngIf="post.author"> by {{post.author.firstName}} {{post.author.lastName}}</span>
                </h4>
            </div>
        </div>
    </div>
</div>