<div class="table-responsive">
  <table class="table table-hover margin-top-30">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Member since</th>
    <th>Options</th>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.createdAt | date:'medium'}}</td>
      <td>

        <span (click)="deleteUser(user._id)">
          <fa name='trash' size='lg'></fa>
        </span>
      </td>
    </tr>
  </table>
</div>