<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="">
        <span class="navbar-brand">Geekbears Blog</span>
      </a>
    </div>
    <ul class="nav navbar-nav">      
      <li>
        <a  routerLink="contact">Contact Us</a>
      </li>
      
      
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn">
      
      <li>
        <a  routerLink="login">Log in</a>
      </li>
      <li>
        <a  routerLink="signup">Sign up</a>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
      
      <li>
        <a routerLink="profile" *ngIf="currentUser.userType=='user'">
          Welcome {{currentUser.firstName}} {{currentUser.lastName}}
        </a> 
        <a routerLink="admin" *ngIf="currentUser.userType=='admin'">
          Welcome {{currentUser.firstName}} {{currentUser.lastName}}
        </a> 
      </li>
      <li>
        <a href="" (click)="logOut()" >Log out</a>
      </li>
    </ul>
  </div>
</nav>