<div class="container">
  <h1>Sign Up</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="signUp()" #userForm="ngForm">
        <div class="form-group">
          <label for="name">First Name</label>
          <input type="text" class="form-control" [(ngModel)]="user.firstName" name="fisrtName" required>
        </div>
        <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" required>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="email" class="form-control" [(ngModel)]="user.email" name="email" required>          
        </div>
        <div class="form-group">
          <label for="name">Password</label>
          <input type="password" minlength="6" class="form-control" [(ngModel)]="user.password" name="password" required>
        </div>
        <div class="form-group">
          <label for="name">Confirm Password</label>
          <input type="password" minlength="6" class="form-control" [(ngModel)]="user.passwordConf" name="passwordconf" required>
        </div>        
        
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Sign Up</button>
        </div>        
      </form>
      <div>
        <a href="http://ec2-52-52-125-241.us-west-1.compute.amazonaws.com:8080/api/v1/users/facebookLogin">
          <span>
            <fa name='facebook-official' size='4x'></fa>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>